# Python
__pycache__/
*.pyc
*.egg-info/
backend/.venv/

note

# Environment / secrets
.env
.env.*

# Databases / local data
*.db
*.sqlite
*.sqlite3

# Node / frontend
node_modules/
dist/

# OS / editor
.DS_Store
Thumbs.db
.vscode/